<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
</head>
<body>
    <h1>Admin</h1>
    <a href="/">Zurück</a>

    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>Typ</th>
            <th>Router</th>
            <th>Setup</th>
            <th>Firmware</th>
            <th>Datum</th>
            <th>Status</th>
            <th>Log</th>
            <th>Report</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.router }}</td>
            <td>{{ item.setup }}</td>
            <td>{{ item.firmware }}</td>
            <td>{{ item.execute_at }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.result_log }}</td>
            <td><a href="{{ item.report_url }}">{{ item.report_url }}</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
